.nav-bar-wrapper {
  padding: 40px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  z-index: 20;

  @include respond-below(lg) {
    padding: 24px 0;
  }

  @include respond-below(sm) {
    padding: 21px 0 24px 0;
  }

  &.fixed {
    padding: 15px 0;

    @include respond-below(lg) {
      padding: 10px 0;
    }

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-image: url("../../images/body-background.png");
      background-color: var(--xrp-body-bg);
      background-size: cover;
      opacity: 0.95;
    }
  }
}
.nav-bar {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;

  &--ul {
    display: flex;
    align-items: center;

    // @include respond-between(md, lg) {
    //   padding: 32px 0;
    // }

    @include respond-below(md) {
      flex-direction: column;
      margin-top: 152px;
    }

    li {
      margin-right: 40px;
      &:last-child{
        margin-right: 0;
      }
      @include respond-below(lg) {
        margin-right: 32px;
      }

      @include respond-below(md) {
        margin-right: 0;
        margin-bottom: 48px;
      }
    }
    a {
      @include Font-Kallisto-Bold;
      color: var(--xrp-dark-gray);
      text-transform: uppercase;
      @include toRem(font-size, 14);
      @include toRem(line-height, 16);
      @include toRem(letter-spacing, 1);
      position: relative;

      @include respond-below(lg) {
        @include toRem(font-size, 12);
      }

      @include respond-below(md) {
        @include Font-Kallisto-Heavy;
        @include toRem(letter-spacing, 2);
      }

      &:after {
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        background: var(--xrp-image-overlay);
        left: 0;
        bottom: -4px;
        transition: all 0.3s ease-in;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
  nav {
    @include respond-below(md) {
      background-image: url("../../images/body-background.png");
      background-color: var(--xrp-body-bg);
      background-size: cover;
      position: fixed;
      z-index: 10;
      left: 0;
      top: 0;
      right: 0;
      height: 0;
      overflow-x: hidden;
      overflow-y: auto;
      visibility: hidden;
      // opacity: 0;
      transition: all 0.3s linear;
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;

      &.active {
        visibility: visible;
        // opacity: 1;
        height: 528px;
      }
    }
    // .d-block {
    //   display: block;
    // }
  }
  &--logo {
    margin-right: auto;
    @include respond-below(md) {
      position: relative;
      z-index: 100;
    }
    .custom-logo {
      display: flex;
      @include respond-below(lg) {
        width: 135px;
        object-fit: contain;
      }

      @include respond-between(sm, lg){
        height: 24px;
      }

      @include respond-below(sm) {
        width: 95px;
        height: 17px;
      }
    }
  }
  .menu {
    ul {
      display: flex;
      li {
        margin-right: 40px;
      }
      a {
        font-weight: bold;
        color: var(--xrp-dark-gray);
        text-transform: uppercase;
        @include toRem(font-size, 14);
        @include toRem(line-height, 16);
        @include toRem(letter-spacing, 1);
      }
    }
  }
  .app-link .nav-bar--link {
    padding: 16px 0;
    position: relative;
    z-index: 0;
    min-width: 220px;
    height: 3rem;
    font-weight: 900;
    font-size: 0.875rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    background-image: linear-gradient(291deg, #9f00b9, #0c01f4);
    color: #171733;
    color: var(--xrp-dark-gray);
    border: 0px;
    border-radius: 24px;
    overflow: hidden;
    display: inline-block;
    @include respond-below(md) {
      height: 40px;
      padding: 12px 0px;
      line-height: 16px;
      font-size: 12px;
      width: 144px;
      border-radius: 24px;
    }
    @include respond-below(sm) {
      padding: 4px 12px 4px 13px;
      height: 24px;
      width: auto;
    }
    &:after {
      content: " ";
      position: absolute;
      z-index: -1;
      top: 1px;
      right: 1px;
      bottom: 1px;
      left: 1px;
      background: url("../../images/body-background.png") var(--xrp-body-bg);
      background-size: cover;
      background-position: inherit;
      border-radius: 24px;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
    }
  }
  &--cta {
    position: relative;
    z-index: 10;
    ul {
      li {
        &:last-child {
          margin-right: 0;
          @include respond-below(md) {
            margin-bottom: 0;
          }
        }
        a {
          &::after {
            // display: none;
          }
        }
      }
    }
  }
  .mobile-nav {
    display: none;
    @include respond-below(md) {
      display: block;
      margin-left: 48px;
      cursor: pointer;
    }
    @include respond-below(sm) {
      margin-left: 20px;
    }
  }

  .mobile-nav-overlay {
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;

    &.active {
      visibility: visible;
      opacity: 1;
    }
  }

  .mobile-nav-devider {
    display: none;

    @include respond-below(md) {
      display: block;
      position: absolute;
      width: 48px;
      height: 4px;
      background: #d8d8d8;
      border-radius: 4px;
      left: 50%;
      transform: translateX(-50%);
      bottom: 20px;
    }
  }
  .current-menu-item{
    a:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background: var(--xrp-image-overlay);
      left: 0;
      bottom: -4px;
      transition: all 0.3s ease-in;
    }
  }
}
