.d-flex {
    display: flex;
}

.align-item-center {
    align-items: center;
}
.align-item-baseline{
    align-items: baseline;
}

.flex-dir-row {}

.justify-content-end {
    justify-content: flex-end;
}
.justify-content-between {
    justify-content: space-between;
}
.flex-wrap {
    flex-wrap: wrap;
}