*, ::after, ::before {
    box-sizing: border-box;
}
html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
body {
    margin: 0;
    font-size: 16px;
}
div{
  clear: both;
}

h1, h2, h3, h4, h5, h6, p {
    margin:0;
}

a, a:hover, a:focus {
    outline: none;
    text-decoration: none;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}


.img-fluid {
    max-width: 100%;
}